@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

@tailwind base;
@tailwind utilities;

@layer base {
  :root {
    font-size: 62.5%;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, sans-serif;
  }

  body {
    @apply text-16 text-purple-300 leading-none;
  }

  ::-ms-clear {
    display: none;
  }

  :active {
    -webkit-tap-highlight-color: transparent;
  }

  button:focus,
  *:focus {
    outline: none;
  }
}

@layer utilities {
  .container {
    @apply w-full max-w-1920 mx-auto;
  }

  .bg-gradient-1 {
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.17) 0%,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0.15) 100%
      ),
      linear-gradient(90deg, rgba(251, 170, 99, 1) 0%, rgba(243, 143, 177, 1) 50%, rgba(194, 243, 215, 1) 100%);
  }

  .bg-gradient-2 {
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.17) 0%,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0.15) 100%
      ),
      linear-gradient(90deg, rgba(112, 251, 248, 1) 0%, rgba(122, 239, 199, 1) 50%, rgba(192, 189, 248, 1) 100%);
  }

  .bg-gradient-3 {
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.17) 0%,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0.15) 100%
      ),
      linear-gradient(90deg, rgba(237, 111, 255, 1) 0%, rgba(148, 141, 254, 1) 50%, rgba(255, 242, 186, 1) 100%);
  }

  .bg-gradient-4 {
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.17) 0%,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0.15) 100%
      ),
      linear-gradient(90deg, rgba(219, 219, 219, 1) 0%, rgba(198, 198, 197, 1) 50%, rgba(221, 221, 221, 1) 100%);
  }

  .bg-gradient-5 {
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.17) 0%,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0.15) 100%
      ),
      linear-gradient(90deg, rgba(253, 88, 61, 1) 0%, rgba(250, 75, 99, 0.25) 50%, rgba(227, 122, 118, 0.5) 100%);
  }

  .bg-gradient-6 {
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.17) 0%,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0.15) 100%
      ),
      linear-gradient(90deg, rgba(253, 88, 61, 1) 0%, rgba(250, 75, 99, 0.25) 50%, rgba(227, 122, 118, 0.5) 100%),
      url("/img/page-title-bg-1.jpg");
  }
}
